@font-face {
    font-family: 'Figtree-VariableFont';
    src: url("../fonts/Figtree-VariableFont_wght.ttf");
}
@font-face {
    font-family: 'Figtree-ExtraBold';
    src: url("../fonts/static/Figtree-ExtraBold.ttf");
}